.lamp{
    display: block;
    height: 50px;
    border: 5px solid rgb(200, 200, 200);
}

.color-Y{
    background: rgb(251,251,251);
    background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(245,174,0,1) 70%);
}

.color-R{
    background: rgb(255,254,0);
    background: radial-gradient(circle, rgba(255,254,0,1) 0%, rgba(255,99,0,1) 0%, rgba(255,0,0,1) 70%);
}

.color-O{
    background: rgb(31, 22, 0);
    background: radial-gradient(circle, rgba(255,254,0,1) 0%, rgb(67, 59, 41) 0%, rgb(31, 22, 0) 70%);
}

.rectangle{
    width: 15px;
}

.square{
    width: 60px;
}

.round{
    width: 80px;
    height: 80px;
    border-radius: 50% !important;
}

.row > .lamp:first-child{
    border-radius: 5px 0px 0px 5px;
}

.row > .lamp:last-child{
    border-radius: 0px 5px 5px 0px;
}